.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-opcoes{
  display: flex;
  gap: 2rem;
}

.navbar-opcoes li{
  list-style: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 60px;
}

.navbar-icones{
  display: flex;
  gap: 2rem;
  cursor: pointer;
}

.navbar-container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 2rem;
  background-color: #433E3E;
}

.caixa-pesquisa{
    display: flex;
    align-items: center;
    background-color: #433E3E;
    border: 1px solid #B3ABAB;
    padding: 5px 10px;
    box-sizing: border-box;
}

.pesquisa-icon {
    color: #aaa;
    font-size: 16px;
    margin-right: 8px;
  }
.caixa-pesquisa input {
    background: transparent;
    border: none;
    outline: none;
    color: #FFFFFF54;
    font-size: 14px;
    width: 100%;
  }